<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services >
      <service behaviorConfiguration="ServiceBehavior"
      name="FileReaderWCFService.FileReaderService">
        <endpoint address="http://localhost:8090/FileReaderWCFService/FileReaderService"
        binding="wsDualHttpBinding" contract="FileReaderWCFService.IFileReaderService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex"
        binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true "/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
 </configuration>
  
  
  
  
  
  
<!--  THIS WORKS IT IS FOR SIMPLEX CONNECTION
<system.serviceModel>
    <client>
      <endpoint address 
            ="http://localhost:8090/FileReaderWCFService/FileReaderService"
         binding = "wsHttpBinding" contract="FileReaderWCFService.IFileReaderService">
      </endpoint>
    </client>
  </system.serviceModel>-->

  <!--<system.serviceModel>
    <services>
      <service name="FileReaderWCFService.FileReaderService">
        <endpoint address 
            ="http://localhost:8090/FileReaderWCFService/FileReaderService"
   binding = "wsHttpBinding" contract="FileReaderWCFService.IFileReaderService">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
  
</configuration>-->